{deps, [
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.5.6"}}},
  {emysql,      ".*", {git, "git://github.com/Eonblast/Emysql.git"     , {tag, "v0.4.1"        }}},
  {uuid,        ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {jiffy       ,".*", {git, "https://github.com/davisp/jiffy.git"    , {tag, "0.14.4"        }}}
]}.
